Flask==1.0.2
Flask_Migrate==2.3.1
Flask_Mail==0.9.1
SQLAlchemy==1.2.16
WTForms==2.2.1
Flask_SQLAlchemy==2.3.2
pymongo==3.7.1
Flask_Bootstrap==3.3.7.1
Werkzeug==0.14.1
Flask_Login==0.4.1
alembic==1.0.6
Flask_WTF==0.14.2
PyJWT==1.7.1
